body {
  margin: 0;
}

.container {
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
}

.news-feed {
  background-color: rgb(204, 204, 231);
  padding: 13px;
  margin: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  max-width: 300px;
}
.news-feed a {
  text-decoration: none;
  color: black;
}

.news-feed a:hover {
  text-decoration: underline;
}

.currencyConverter {
  background-color: rgb(230, 223, 211);
  padding: 10px;
  margin: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
}

.exchangeRate {
  background-color: rgb(221, 230, 221);
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.input-box {
  background-color: rgb(218, 227, 238);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

input,
select {
  border: none;
}

button {
  border: none;
  margin: 2px;
  padding: 3px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(216, 153, 130);
}
